<!doctype html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="Homepage of Patrick Byrne">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title> {{ title | default: "Angela Byrne"}} | Angela Byrne</title>
    <link rel="stylesheet" href="/assets/bundle.css">
    <script type="module" src="/assets/bundle.js"></script>
    <meta name="generator" content="{{ eleventy.generator }}">
  </head>

  <body>
    <header>
      <nav>
        <ul>
          <li><a aria-current="{{ "page" if page.url == "/" }}" href="/">Home</a></li>
          <li><a aria-current="{{ "page" if page.url contains "/products/" }}" href="/products/">Products</a></li>
          <li><a aria-current="{{ "page" if page.url == "/contact/" }}" href="/contact"/>Contact</a></li>
        </ul>
      </nav>
    </header>

    <main>
      {{ content }}
    </main>

    <footer>
      <p>
      © 2024–{{ "now" | date: "%Y" }} Angela Byrne
      </p>
    </footer>
  </body>
</html>
