<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="Homepage of Patrick Byrne">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title> {{ title | default: "Angela Byrne"}}</title>
    <link rel="stylesheet" href="{{ "/stylesheets/site.css" }}" />
    <script type="module" src="{{ "/javascripts/site.js" }}"></script>
    <meta name="generator" content="{{ eleventy.generator }}">
  </head>
  <body>
    <header>
      <h1>Testing</h1>
    </header>

    <main>
      {{ content }}
    </main>

    <footer>
      <p>
      © 2024–{{ "now" | date: "%Y" }} Angela Byrne
      </p>
    </footer>
  </body>
</html>
