{% for product in products %}
  <article id="{{ product.slug }}">
    <h3><a href="/products/{{ product.slug }}">{{ product.name }}</a></h3>
    <img src="{{ product.image }}" alt="Product image for {{ product.name }}">
    <p>{{ product.description }}</p>
  </article>
{% endfor %}
